/workdir/
/mac/
/mac-en/
/etc/
/etc-en/
/iso_extracted/
/bin/

/n7_iso_cn_extracted/
/n7_etc_cn/
/e17_iso_cn_extracted/
/e17_etc_cn/

/text/tmp/
/text/font/FONT*
/text/font/glyphs/

/iso/*.iso
/iso/*.dax
/iso/*.cso

/patches/xdelta3/

/*.exe
/*.dll
/*.DUMP
/*.lnk

misc/
__pycache__/
*.pyc
/.vscode
