/misc/
/workdir/
/mac/
/mac-en/
/etc/
/etc-en/
/iso_extracted/

/text/mac-en-only/
/text/mac-ja-psp/
/text/mac-combined-psp/
/text/font/FONT*
/text/font/glyphs/

/iso/*.iso
/iso/*.dax
/iso/*.cso

/bin

/*.exe
/*.dll
/*.DUMP
/*.lnk
*.pyc
