/workdir/
/bin/

/r11_mac*/
/r11_etc*/
/r11_iso_extracted/

/n7_iso_cn_extracted/
/n7_etc_cn/
/e17_iso_cn_extracted/
/e17_etc_cn/

/text/tmp/
/text/font/FONT*
/text/font/glyphs/
/text/font/glyphs-cn/

/iso/*.iso
/iso/*.dax
/iso/*.cso

/patches/xdelta3/
/patches/bip/

/*.exe
/*.dll
/*.DUMP
/*.lnk

misc/
__pycache__/
*.pyc
/.vscode
